ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}

li a:hover{
    background-color: olive;
}
#eesti_kuud, #timezone{
    margin: 1%;
    padding: 2%;
    width: 30%;
    border: solid 1px;
}